########################################################################################################################
### Environment
########################################################################################################################

# ENVIRONMENT = [ production | staging | testing | development ]
ENVIRONMENT=development
# LOG_LEVEL = [ trace | debug | info | warn | error | fatal ]
LOG_LEVEL=trace
# NODE_ENV = [ production | testing | development ]
NODE_ENV=development
VITE_APP_ENVIRONMENT=development

########################################################################################################################
### Site
########################################################################################################################

PUBLIC_SITE_URL="http://localhost:5173"
VITE_FSDATA_URL="http://localhost:8092/fsdata/api/graphql"
MOCK_DATA=false

########################################################################################################################
### Cloudflare
########################################################################################################################

# Development Sitekey (always passes):
PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY="1x00000000000000000000AA"