@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* First Spark theme */
    /* --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%; */

    /* KCU theme */
    --kcu-white: 0 0% 100%; /* #ffffff — White */
    --kcu-black: 240 10% 3.9%; /* #000000 — Black */
    --kcu-orange: 35.2 100% 46%; /* #ed8b00 — Orange */
    --kcu-glacier: 181 100% 36.3%; /* #00b6b9 — Glacier */
    --kcu-plum: 322.2 67.3% 32.4%; /* #8a1b61 — Plum */
    --kcu-lime: 65 100% 42%; /* #c4d600 — Lime */
    --kcu-tangerine: 42 88% 53%; /* #f1b11c — Tangerine */
    --kcu-juniper: 181 100% 19%; /* #005f61 — Juniper */
    --kcu-avocado: 99.3 46.1% 35.7%; /* #4e8531 — Avocado */
    --kcu-blackberry: 318.1 37.6% 27.6%; /* #612c51 — Blackberry */
    --kcu-pine: 99.3 46.1% 35.7%; /* #275d38 — Pine — *estimate* using similar green */
    --kcu-wood: 318.1 37.6% 27.6%; /* #5b3427 — Wood — *estimate* using similar deep brown */

    --background: var(--kcu-white);
    --foreground: var(--kcu-black);

    --nav: var(--kcu-glacier);
    --nav-foreground: var(--kcu-white);

    --muted: 240 4.8% 95.9%;
    --muted-foreground: var(--kcu-juniper);

    --popover: var(var(--kcu-juniper)) %;
    --popover-foreground: var(--kcu-black);
    --popover-background: var(--kcu-white);

    --card: var(--kcu-white);
    --card-foreground: var(--kcu-black);

    --border: var(--kcu-juniper);
    --input: var(--kcu-white); /* Updated from a darker value to be more visible */

    --primary: var(--kcu-black);
    --primary-foreground: var(--kcu-white);

    --secondary: var(--kcu-tangerine);
    --secondary-foreground: var(--kcu-juniper);

    --accent: var(--kcu-juniper);
    --accent-foreground: var(--kcu-white);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--kcu-white);

    --ring: var(--kcu-glacier);

    --sidebar-background: var(--kcu-white);
    --sidebar-foreground: var(--kcu-black);
    --sidebar-primary: var(--kcu-glacier);
    --sidebar-primary-foreground: var(--kcu-avocado);
    --sidebar-accent: var(--kcu-white);
    --sidebar-accent-foreground: var(--kcu-glacier);
    --sidebar-border: var(--kcu-blackberry);
    --sidebar-ring: var(--kcu-juniper);
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --nav: 240 10% 3.9%;
    --nav-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --popover-background: 240 10% 3.9%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 5.9% 30%; /* Updated from a darker value to be more visible */

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%; /* Updated to be more prominent */
    --destructive-foreground: 0 0% 98%;

    --ring: 240 4.9% 83.9%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
